<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--初始化 bean 的之前和之后实现类-->
    <bean class="cn.tekin.spring.demo1.InitHelloWorld"></bean>

    <bean id="helloWorld" class="cn.tekin.spring.demo1.HelloWorld" scope="singleton" init-method="init"
          destroy-method="destroy">

        <property name="message" value="Hello World!  欢迎访问，我的第一个Spring"></property>
    </bean>



</beans>