<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

   <bean id="customEventHandler" class="cn.tekin.spring.demo1.CustomEventHandler"></bean>
<bean id="customEventPublisher" class="cn.tekin.spring.demo1.CustomEventPublisher"></bean>
</beans>